/* Общие стили для всех устройств */
body {
  background: linear-gradient(
    325deg,
    rgb(48, 48, 48) 0%,
    rgba(46, 46, 46, 46) 15%,
    rgb(71, 71, 71) 57%
  );
  color: white;
}

.card-img-top {
  width: 250px;
  height: 200px;
}

.card {
  width: 18rem;
}

.navbar {
  margin: 25px;
  background-color: #535353;
  padding: 10px;
}

#search {
  background-color: #f0f0f0;
}

#addButton {
  color: #ffffff;
  background-color: #434343;
  border-color: #434343;
}

#container {
  margin-top: 20px;
  background-color: beige;
  padding: 20px;
  color: black;
}

.card {
  margin-bottom: 20px;
  background-color: #565656;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-price {
  color: rgb(205, 205, 205);
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.delete-button {
  margin-right: 10px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-dialog {
  max-width: 400px;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  justify-content: space-between;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #5d6265;
}

.footer .container {
  padding: 5px;
  background-color: #5d6265;
}

.footer .text-muted {
  font-size: 14px;
  color: white !important;
}

.btn-info {
  color: #fff !important;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.input-a {
  margin-top: 10px;
}

/* Медиа-запросы для адаптивности на разные типы устройств */

/* Мобильные устройства */
@media (max-width: 576px) {
  .navbar {
    margin: 10px;
  }

  .container {
    margin-top: 10px;
    padding: 10px;
  }

  .card-img-top {
    width: 100%;
    height: auto;
  }

  .card {
    width: 100%;
  }
}

/* Планшеты и небольшие ноутбуки */
@media (min-width: 577px) and (max-width: 992px) {
  .navbar {
    margin: 20px;
  }

  .container {
    margin-top: 20px;
    padding: 20px;
  }
}

/* Настольные компьютеры */
@media (min-width: 993px) {
  .navbar {
    margin: 25px;
  }

  .container {
    margin-top: 30px;
    padding: 30px;
  }
}
